.custom-select {
  position: relative;
  display: inline-block;
  width: 300px;
}

.custom-select select {
  display: inline-block;
  width: 100%;
  padding: 10px;
  border: 1px solid #666;
  border-radius: 5px;
  background-color: #444;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.custom-select select option {
  padding: 10px; /* Отступы */
}

.custom-select select option:hover {
  background-color: #666;
}

/* Стили для выбранного элемента */
.custom-select select option:checked {
  background-color: #007bff;
  color: #fff;
}
